
DB_NAME="your_database_name"
DB_USERNAME="your_database_username"
DB_PASSWORD="your_database_password"
DB_HOST="localhost"
DB_PORT= None # Set to a number like 5432 for PostgreSQL in production
JWT_SECRET="abcd1234defaultsecret"
JWT_EXPIRES_IN= None # Set to a string like "1h" in production for better security
PORT= None # Set to a number like 3000 in production

BCRYPT_SALT_ROUNDS= None # Set to a number like 10 in production for better security

CLOUDINAARY_API_KEY="your_cloudinary_api_key"
CLOUDINARY_API_SECRET="your_cloudinary_api_secret"
CLOUDINARY_CLOUD_NAME="your_cloudinary_cloud_name"

RAZORPAY_API_KEY="your_razorpay_api_key"
RAZORPAY_API_SECRET="your_razorpay_api_secret"

ALLOWED_ORIGINS="frontend1.com,frontend2.com" # Comma-separated list of allowed origins for CORS